<% include ../partials/header_blogs %>

<div class="container">
  <h1 class="text-center">Cikket írok!</h1>

  <form action="/blogs" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-6 mx-auto">
        <input class="form-control" type="text" placeholder="cím (max. 100 karakter)" name="blog[title]" maxlength="100"
          required>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group col-md-6 mx-auto mb-3">
        <input type="file" name="image" accept="image/*" required>
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-12 mx-auto">
        <textarea rows="12" class="form-control" placeholder="Jöhet az írásod!" name="blog[article]" required></textarea>
      </div>
    </div>
    <div class="form-row card-box">
      <div class="form-group text-center col-md-12">
        <button class="btn btn-success"><i class="fas fa-check-circle"></i> Mentem a blogbejegyzést</button>
        <a class="btn btn-dark" href="/blogs"><i class="fas fa-hand-point-left"></i> Vissza</a>
      </div>
    </div>
  </form>
</div>

<% include ../partials/footer %>