</section>

<!-- Footer -->
<footer id="footer" class="pt-5">
  <div class="container footer-1st">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-3 mb-4">Be(e) smart.</p>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase text-yellow">Információk</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/gdpr">Adatkezelés</a>
          </li>
          <li>
            <a href="#">Impresszum</a>
          </li>
          <li>
            <a href="#">Sütik (cookies)</a>
          </li>
          <li>
            <a href="#">Oldaltérkép</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase text-yellow">Rólam</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Kapcsolat</a>
          </li>
          <li>
            <a href="#">Ki vagyok?</a>
          </li>
          <li>
            <a href="#">Gyakori kérdések</a>
          </li>
          <li>
            <a href="#">Rólam mondták</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://smart-bee.us18.list-manage.com/subscribe/post?u=92ff995ca89f86760e0d589d9&amp;id=c0abbb20a0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate bg-d"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h5 class="text-uppercase text-yellow mt-2">Iratkozz fel hírlevelünkre!</h5>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" title="Semmi Spam!"
                required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_92ff995ca89f86760e0d589d9_c0abbb20a0" tabindex="-1" value="">
              </div>
              <div class="clear mt-2">
                <input type="submit" value="Feliratkozom" name="subscribe" id="mc-embedded-subscribe" class="btn bg-yellow text-d">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
      <div class="col-12 text-center social mt-4 mb-4">
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a rel="nofollow" href="https://twitter.com/tmajoros" target="_blank" title="Twitter">
              <i class="fab fa-twitter icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a rel="nofollow" href="https://www.instagram.com/smartbeeweboldalak/" target="_blank" title="Instagram">
              <i class="fab fa-instagram icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a rel="nofollow" href="https://business.facebook.com/smartbeeweb" target="_blank" title="Facebook">
              <i class="fab fa-facebook icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a rel="nofollow" href="https://www.linkedin.com/in/majoros-tamas/" target="_blank" title="LinkedIn">
              <i class="fab fa-linkedin icons"></i>
            </a>
          </li>
        </ul>
        <div class="scroll-btn-top">
          <a href="#pageTop"><i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="footer-2nd pt-3">
  <div class="container">
    <div class="text-center footer-bottom pb-2">
      <small>
        <h6 class="text-center text-uppercase">Majoros Tamás &copy; Copyright 2018.
          <span class="text-capitalize"> Smart-Bee Web</span>
        </h6>
        <h6 class="">All Right Reserved. Powered by Bootstrap.</h6>
      </small>
    </div>
  </div>
</section>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script>
function getLocation() {
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(showPosition);
}
}

function showPosition(position) {
var xCoord = position.coords.latitude;
var yCoord = position.coords.longitude;
}
getLocation();
showPosition();</script>

</body>

</html>