</section>

<!-- Footer -->
<footer id="footer" class="pt-5 bg-dark text-light">
  <div class="container footer-1st">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-3 mb-4 font-weight-bold">Be(e) smart.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-6">
        <h5 class="text-uppercase">Információk</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/gdpr" target="_blank">Adatkezelés</a>
          </li>
          <li>
            <a href="#">Impresszum</a>
          </li>
          <li>
            <a href="/cookies" target="_blank">Sütik (cookies)</a>
          </li>
          <li>
            <a href="#">Oldaltérkép</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h5 class="text-uppercase">Rólam</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Kapcsolat</a>
          </li>
          <li>
            <a href="#">Ki vagyok?</a>
          </li>
          <li>
            <a href="#">Gyakori kérdések</a>
          </li>
          <li>
            <a href="#">Rólam mondták</a>
          </li>
        </ul>
      </div>

      <div class="col-12 text-center social mt-4 mb-4">
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-dark" rel="nofollow" href="https://twitter.com/tmajoros" target="_blank" title="Twitter">
              <i class="fab fa-twitter icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-dark" rel="nofollow" href="https://www.instagram.com/smartbeeweboldalak/" target="_blank"
              title="Instagram">
              <i class="fab fa-instagram icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-dark" rel="nofollow" href="https://business.facebook.com/smartbeeweb" target="_blank"
              title="Facebook">
              <i class="fab fa-facebook icons"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-dark" rel="nofollow" href="https://www.linkedin.com/in/majoros-tamas/" target="_blank"
              title="LinkedIn">
              <i class="fab fa-linkedin icons"></i>
            </a>
          </li>
        </ul>
        <div class="scroll-btn-top">
          <a class="text-light" href="#pageTop"><i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="footer-2nd pt-3">
  <div class="container">
    <div class="text-center footer-bottom pb-2">
      <small>
        <h6 class="text-center text-uppercase">Smart-Bee Web &copy; Copyright 2018-2019.
        </h6>
        <h6 class="">All Right Reserved. Powered by Bootstrap.</h6>
      </small>
      <!-- <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
 -->
    </div>
  </div>
</section>


<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

</body>

</html>