<!--======= Modals CONTACT =======-->

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kapcsolat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ul class="list-group text-center">
              <li class="list-group-item bg-dark text-light lead">Írj vagy hívj!</li>
              <li class="list-group-item">
                <b>Majoros Tamás</b></li>
              <li class="list-group-item">
                <b>Tel:</b>
                <a href="tel:+36705301130">+36(70)530-1130</a><br>
              </li>
              <li class="list-group-item">
                <b>E-mail cím:</b>
                <a href="mailto:majorost@nograd.police.hu">tmsmajoros@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Bezár</button>
      </div>
    </div>
  </div>
</div>