<!--======= Modals =======-->

<div class="modal fade" id="impressum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Impresszum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ul class="list-group text-center">
              <li class="list-group-item bg-dark text-light lead">Tárhelyszolgáltató</li>
              <li class="list-group-item">
                <b>Majd aki lesz</b></li>
              <li class="list-group-item">
                <b>Cím:</b>
                <br>Nyilván az is lesz neki</li>
            </ul>
            <p class="mt-5"></p>
            <ul class="list-group text-center">
              <li class="list-group-item bg-dark text-light lead">Weboldal Üzemeltetője</li>
              <li class="list-group-item">
                <b>Majoros Tamás ev.
                </b>
              </li>
              <li class="list-group-item">
                <b>Székhely / levelezési cím:</b><br>2660 Balassagyarmat, Patvarci utca 18. </li>
              <li class="list-group-item">
                <b>Telefonszám:</b>
                <a href="tel:+36705301130">+36(70)530-1130</a><br>
              </li>
              <li class="list-group-item">
                <b>E-mail cím:</b>
                <a href="retsagrk@nograd.police.hu">tmsmajoros@gmail.com</a>
              </li>
            </ul>
            <p class="mt-5"></p>
            <ul class="list-group text-center">
              <li class="list-group-item bg-dark text-light lead">Készítette:</li>
              <li class="list-group-item">
                <b>Majoros Tamás</b></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Bezár</button>
      </div>
    </div>
  </div>
</div>