<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <link rel="icon" href="/images/smart-bee.png">
  <link rel="stylesheet" href="/css/style.css">
  <title>404 ERROR PAGE</title>
</head>
<body>
  <main class="page-404">
  <div class="center">
    <div class="text-center">
      <!-- <h3 class="">Hoppá! Itt valami nem okés...</h3> -->
      <h1 class="display-2 font-weight-bold">404 ERROR!</h1>
      <div class="d-inline-block content-404">
        <h3>Bocsi, de az oldal amit keresel nem található.</h3>
        <h4>Lehet hogy félreütöttél valamit, vagy időközben az oldal megszűnt.</h4>
        <h5 class="font-weight-bold mt-3">Amit javaslunk:</h5>
      </div>
     <div class="my-3">
      <a href="/contents" class="btn btn-light p-2 mx-2">Visszatérés a kezdőlapra</a>
      <a href="/help" class="btn btn-light p-2">Help menü</a>
     </div>
    </div>
    </div>
  </main>
</body>
</html>