<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <link rel="icon" href="/images/smart-bee.png">
  <link rel="stylesheet" href="/css/style.css">
  <title>Jelszócsere</title>
</head>

<body class="page-404">
<div class="center">
  <div class="card card-box content-404">
    <div class="text-center">
    <h2 class="mb-5">Új jelszó megadása</h2>
  </div>
  <form action="/reset/<%= token %>" method="POST">
    <div class="form-group col-md-9 mx-auto">
      <label for="password">Új jelszó</label>
      <input type="password" class="form-control" id="password" placeholder="Új jelszó" name="password"
        required>
    </div>
    <div class="form-group col-md-9 mx-auto">
      <label for="confirm">Jelszó mégegyszer</label>
      <input type="password" class="form-control" id="confirm" placeholder="Új jelszó mégegyszer" name="confirm"
        required>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-success"><i class="fas fa-check-circle"></i> Jelszó mentése</button>
      <a class="btn btn-dark" href="/contents"> Kezdőlap</a>
    </div>
  </form>
  </div>
</div>

</body>
</html>