.bg-panic {
  width: 100%;
  height: 100%;
  background: url(../images/problem.jpeg) no-repeat 70% center/cover;
}

.bg-city {
  width: 100%;
  height: 100%;
  background: url(../images/city2.jpg) no-repeat 70% center/cover;
}
.bg-news {
  width: 100%;
  height: 100%;
  background: url(../images/newspaper.jpg) no-repeat 70% center/cover;
}

.page-404 {
  font-family: 'Ubuntu';
  position: relative;
  height: 100vh;
  background: url(../images/problem.jpeg) no-repeat 70% center/cover;
}

.content-404 {
  background: #f8e641;
  margin: 10px;
  padding: 20px;
  color: rgba(0, 0, 0, 1);
  opacity: .8;
}

body {
  font-size: 1rem !important;
}

body .container {
  padding-top: 80px !important;
}

textarea {
  font-size: 1rem !important;
}

nav {
  font-size: 14px !important;
}

.card a {
  color: #000;
}

body .card {
  border: none !important;
  box-shadow: none !important;
}

/* ADD SMOOTH SCROLLING IN-PAGE NAVIGATION */
html {
  scroll-behavior: smooth;
}

/* MAIN SETTINGS */

header .btn {
  margin: 0 5px;
}

@media(max-width:1024px) {
  nav form {
    max-width: 60% !important;
  }

  form.form-inline {
    margin-left: 5px !important;
    margin-right: 0 !important;
  }

  .form-inline .search-bar {
    max-width: 65% !important;
  }
}

input.search-bar {
  border-radius: 0;
  padding-left: 5px;
  margin-right: 5px;
}

/* another .active, main menu */
.activeMenu a,
.activeMenu btn {
  background: #222222 !important;
  color: #fff !important;
}

/* BODY MIN. HEIGHT*/
.content {
  min-height: calc(100vh - 100px);
}

/* HELP PAGE LEFT-SIDE MENUBAR*/
.menuLeft,
.superMenuLeft {
  width: 25%;
  position: fixed;
  z-index: 1;
}

.menuLeft {
  max-height: 75vh;
  overflow: auto;
}

.menuLeft a {
  display: block;
  margin: 10px 25px !important;
  padding: 5px 10px !important;
  text-decoration: none;
  transition: .3s ease;
}

.superMenuLeft a {
  display: block;
  margin: 10px 0 !important;
  padding: 5px 10px !important;
  text-decoration: none;
}


/* MEDIA QUERIES */
@media(max-width:1024px) {
  .fastMenu a {
    display: inline-block;
  }

  .menuLeft,
  .superMenuLeft {
    display: block;
    position: static;
    width: 100%;
  }
}

/* =========== GAP UNDER MAIN MENU ================ */
/* .header-bottom {
  margin-bottom: 80px;
} */

/* =========== MAIN PAGE PARAGRAPH FONT SIZE ================ */
.feed-paragraph {
  margin-top: 1%
}

.news-feed .card {
  border: none;
}

.article-main-img {
  position: relative;
}

.article-header {
  position: absolute;
  top: 0;
  left: 0;
}

.second-article-header h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.card-img {
  border-radius: 0;
}

.article-header a h2,
.article-header a h3,
.article-header a h5 {
  display: block;
  padding: .5rem;
  background: #3aa2f4;
  color: #000;
  font-weight: bold !important;
  max-width: 100%;
  margin: 20px;
}

.article-header a {
  text-decoration: none;
}

.article-header h2 {
  font-size: 3rem;
}

@media(max-width:1024px) {

  .article-header h2,
  .article-header h3,
  .article-header h5,
  .second-article-header h4 {
    font-size: 1.3rem;
  }
}

/* =========== SHOW ROUTE ================ */
@media(max-width:767px) {
  .news-show h1 {
    font-size: 1.6rem;
  }
}

.author-show {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.news-feed img {
  transition: .3s ease-in;
}

.news-feed-bar {
  padding: 10px 15px;
}

.news-feed-bar input {
  width: 70% !important;
}

.news-feed-bar p {
  font-size: 20px;
}

/* RIGHT SIDEBAR TITLE*/
.tags {
  margin-bottom: 50px;
}

.tags h3 {
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.tags-sideLine {
  border-left: 5px solid #3aa2f4;
  padding-left: 15px;
}

@media(max-width:900px) {
  .tags {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

.new-articles h3 {
  padding: 8px 10px;
  text-align: center;
}

.list-group-item {
  margin-bottom: 5px;
}

.comments-card {
  border: none;
}

.profile .media img {
  width: 100px;
}

.category {
  font-size: 11px !important;
  text-transform: uppercase;
}

.comment-icon a {
  color: #000;
  text-decoration: none;
}

.small-text {
  font-size: 16px;
}

.news-feed-lines a {
  display: block;
  text-decoration: none;
  background: #222222;
  color: #fff;
  margin-bottom: 3px;
  border-bottom: 8px solid #3aa2f4;
  padding: 15px;
  transition: .3s ease-in-out;
}

.news-feed-lines a:hover {
  background: #3aa2f4;
  color: #000;
}

.daily-articles {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.searched-articles {
  width: 100%;
  min-height: 150px;
  overflow: auto;
}

.user-articles a {
  text-decoration: none;
  color: #000;
}

.media img {
  width: 150px;
}

.comments-avatar img {
  width: 70px !important;
}

.founded a {
  text-decoration: none;
}

.daily-articles a,
.searched-articles a {
  display: block;
  text-decoration: none;
  color: #222222;
  padding: 5px;
  font-weight: bold;
}

.daily-articles a:hover,
.searched-articles a:hover {
  text-decoration: none;;
  font-weight: bold;
  color: #9e2bb1;
}

.card-box {
  width: 50% !important;
  margin: auto;
  padding: 15px;
  border: none !important;
  padding-top: 30px;
}

.edit-img img {
  width: 250px;
}

@media(max-width: 900px) {
  .card-box {
    width: 95% !important;
  }

  .card-box .btn {
    display: block;
    width: 75% !important;
    margin: 20px auto;
  }
}

/*=== Contact Page ===*/
.contact-pic img {
  width: 120px;
  height: 120px
}


/*=== Footer ===*/
#footer .icons {
  font-size: 2rem
}

section .footer-bottom {
  letter-spacing: 2px;
}

body .footer-2nd h6 {
  margin: 0
}

.scroll-btn-top {
  font-size: 3rem;
}

/*=== Universal Classes ===*/

.help-list li {
  list-style: none;
}

.badge-custom {
  background: #9e2bb1;
  color: #fff;
  padding: 5px;
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 8px;
}

.btn-outline-yellow {
  color: #000 !important;
  font-weight: bold !important;
  border-radius: 0 !important;
}

.btn-outline-yellow:hover {
  color: #f8e641 !important;
  background: #000 !important;
}

.btn-custom-d {
  border: 1px solid #c9bfbf;
  border-left: 1px solid #c9bfbf;
  background: #fff;
  border-radius: 0;
}

.btn-custom-d:hover {
  color: #f8e641;
  background: #000;
  border: 1px solid #000;
}

.btn-xl {
  font-size: 150%
}

.mt-8 {
  margin-top: 8%
}

.mb-8 {
  margin-bottom: 8%
}

.pt-10 {
  padding-top: 15%;
}

.pb-10 {
  padding-bottom: 10%;
}

.text-h2 {
  font-size: 250%
}

.center {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}