/* FONTS */
@font-face {
  font-family: 'Rokkitt';
  src: url('../fonts/Rokkitt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DEFINE COLORS */
:root {
  --dark: #00171F;
  --light: #F0F2EF;
  --primary: #003459;
  --secondary: #007EA7;
  --menu: #00A7E1;
  --shadow: 3px 3px 15px #343a40
}

/* ADD SMOOTH SCROLLING IN-PAGE NAVIGATION */
html {
  scroll-behavior: smooth;
}

/* MAIN SETTINGS */

body {
  background: #fff;
}

body #footer {
  color: var(--light) !important
}

body #footer a {
  color: var(--light);
  text-decoration: none;
}

body #footer a:hover {
  color: #f8e641;
  border-bottom: 1px dotted #f8e641
}

/* NAVBAR & NAV-TABS SETTINGS */
@media(max-width:1024px) {
  nav form {
    max-width: 60% !important;
  }

  form.form-inline {
    margin-left: 5px !important;
    margin-right: 0 !important;
  }

  .form-inline .search-bar {
    max-width: 65% !important;
  }
}

.search-bar {
  border: 1px solid #c9bfbf;
  padding-left: 5px;
}

input.search-bar {
  border-radius: 0;
}

/* another .active, main menu */
.activeMenu .btn {
  background: #000 !important;
  color: #F0F2EF !important;
}

.nav-tabs a {
  color: #000;
}

.nav-tabs a.active:hover {
  color: #000 !important;
  margin-bottom: 0;
}

/* BODY MIN. HEIGHT*/
.content {
  min-height: calc(100vh - 200px);
}

/* HELP PAGE LEFT-SIDE MENUBAR*/
.menuLeft, .superMenuLeft {
  width: 29%;
  position: fixed;
  z-index: 1;
}

.menuLeft .menus {
  max-height: 65vh;
  overflow: auto;
}

.menuLeft a {
  display: block;
  margin: 10px 25px !important;
  padding: 5px 10px !important;
  color: #F0F2EF;
  background: #474747;
  text-decoration: none;
  transition: .3s ease;
}

.superMenuLeft a {
  display: block;
  margin: 10px 0 !important;
  padding: 5px 10px !important;
  color: #F0F2EF;
  background: #474747;
  text-decoration: none;
}

.superMenuLeft a:hover {
  color: #f8e641;
  background: #000;
}

.menuLeft a:hover {
  color: #f8e641;
  background: #000;
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #474747;
}

/* MEDIA QUERIES */
@media(max-width:1024px) {
  .fastMenu a {
    display: inline-block;
  }

  .menuLeft, .superMenuLeft {
    display: block;
    position: static;
    width: 100%;
  }

  .menuLeft a:hover {
    transform: none;
    box-shadow: none;
  }

  .icon {
    display: none;
  }
}

/* =========== GAP UNDER MAIN MENU ================ */
.header-bottom {
  margin-bottom: 70px;
}

/* =========== MAIN PAGE PARAGRAPH FONT SIZE ================ */
.feed-paragraph {
  /* font-size: 20px !important; */
  font-family: 'Ubuntu';
  margin-top: 1%
}

/* .normal-paragraph:nth-child {
  font-weight: unset !important;
  font-size: 1rem !important;
} */

/* =========== UNDERLINE CARDS ================ */
.card {
  border-radius: 0;
  border: none;
  border-bottom: 8px solid #474747 !important;
}

/*=========== MAIN PAGE ARTICLE DETAILS ================*/
.card-body {
  font-family: "Ubuntu";
}

.news-feed .card {
  border: none;
  font-family: 'Ubuntu';
}

.article-main-img {
  position: relative;
}

.article-header {
  position: absolute;
  top: 0;
  left: 0;
}


.second-article-header a {
  color: #000;
}

.second-article-header h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.card-img {
  border-radius: 0;
}

.article-header a {
  color: #000;
}

.article-header a h2,
.article-header a h3,
.article-header a h5 {
  display: block;
  padding: .5rem;
  background: #f8e641;
  color: #000;
  font-weight: bold !important;
  max-width: 100%;
  margin: 20px;
}

.article-header h2 {
  font-size: 3rem;
}

@media(max-width:1024px) {

  .article-header h2,
  .article-header h3,
  .article-header h5,
  .second-article-header h4 {
    font-size: 1.2rem;
  }
}

/* =========== SHOW ROUTE ================ */
.news-show .card {
  border: none;
  font-family: 'Rokkitt' !important;
}

.news-show .card .card-footer {
  border: none;
}

.news-show h1,
.news-show h5 {
  font-family: 'Rokkitt' !important;
}

@media(max-width:767px) {
  .news-show h1 {
    font-size: 1.6rem;
  }
}

.author-show {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.news-feed img {
  /* border-bottom: 8px solid #f8e641; */
  transition: .3s ease-in;
}

.news-feed-bar {
  background: #e2e5e7;
  padding: 10px 15px;
}

.news-feed-bar input {
  width: 70% !important;
}

.news-feed-bar p {
  font-size: 20px;
}

/* RIGHT SIDEBAR TITLE*/
.tags {
  margin-bottom: 50px;
}

.tags h3 {
  font-family: 'Ubuntu';
  background: #000;
  color: #f8e641;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.tags-sideLine {
  border-left: 5px solid #e2d2d2;
  padding-left: 15px;
}

@media(max-width:900px) {
  .tags {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

.new-articles h3 {
  background: #000;
  color: #f5f5f5;
  padding: 8px 10px;
  text-align: center;
}

.list-group-item {
  margin-bottom: 5px;
}

.comments-card {
  border: none;
}

.media img {
  width: 80px;
}

.category {
  font-size: 11px !important;
  text-transform: uppercase;
}

.comment-icon a {
  color: #000;
  text-decoration: none;
}

.media,
.commentButton {
  background: #e2e5e7 !important;
}

.small-text {
  font-size: 16px;
}

.news-feed-lines a {
  display: block;
  text-decoration: none;
  background: #000;
  color: #fff;
  margin-bottom: 3px;
  border-bottom: 8px solid #f8e641;
  padding: 15px;
  transition: .3s ease-in-out;
}

.news-feed-lines a:hover {
  background: #f8e641;
  color: #000;
}

.daily-articles {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.searched-articles {
  width: 100%;
  min-height: 150px;
  overflow: auto;
}

.daily-articles a,
.searched-articles a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.daily-articles a:hover,
.searched-articles a:hover {
  text-decoration: none;
  color: #f8e641;
  background: #000;
}

.card-box {
  width: 50% !important;
  margin: auto;
  padding: 15px;
  border: none !important;
  padding-top: 30px;
}

.edit-img img {
  width: 250px;
}

@media(max-width: 900px) {
  .card-box {
    width: 95% !important;
  }

  .card-box .btn {
    display: block;
    width: 75% !important;
    margin: 20px auto;
  }
}

/*=== GDPR Page ===*/

.gdpr a {
  color: var(--dark) !important
}

.gdpr a:hover {
  text-decoration: none;
  color: var(--light) !important
}

/*=== Contact Page ===*/

.contact-pic img {
  width: 120px;
  height: 120px
}


/*=== Footer ===*/

#footer {
  background: var(--dark);
  margin-top: 3rem
}

#footer .icons {
  font-size: 2rem
}

#footer .social a:hover {
  border-bottom: none
}

section .footer-bottom {
  letter-spacing: 2px
}

body .footer-2nd {
  background: var(--light);
  color: #000
}

body .footer-2nd h6 {
  margin: 0
}

.footer-form button {
  background: var(--dark);
  color: var(--menu);
  border: 1px solid var(--menu)
}

.footer-form button:hover {
  background: var(--menu);
  color: #000
}

.footer-form input {
  background: #000;
  border: none
}

.footer-form input:enabled {
  background: var(--dark);
  border: 1px solid var(--menu);
  color: #fff
}



.scroll-btn-top {
  font-size: 2rem;
}

/* Subscribe */

#mc_embed_signup {
  margin-top: -9px;
  background: var(--light);
  clear: left;
}


/*=== Universal Classes ===*/

.badge-custom {
  background: #000;
  color: #F0F2EF;
  padding: 5px;
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 8px;
}

.bg-fixed {
  background-attachment: fixed
}

.text-bold {
  font-weight: 700
}

.text-title {
  padding: .5rem;
  background: var(--menu);
  color: var(--dark);
  box-shadow: 5px 5px 5px #343a40
}

.text-title2 {
  padding: .5rem;
  font-size: 180%;
  background: var(--dark);
  color: var(--menu)
}

.bg-custom {
  background: var(--secondary)
}

.text-yellow {
  color: #f8e641
}

.bg-yellow {
  background: #f8e641
}

.bg-p {
  background: var(--primary)
}

.bg-s {
  background: var(--secondary)
}

.bg-d {
  background: var(--dark)
}

.bg-l {
  background: var(--light);
  border: none;
}

.bg-orange {
  background: #e54d26;
}

.text-p {
  color: var(--primary)
}

.text-s {
  color: var(--secondary)
}

.text-d {
  color: var(--dark)
}

.text-l {
  color: var(--light)
}

.btn-outline-yellow {
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 0;
}

.btn-outline-yellow:hover {
  color: #f8e641;
  background: #000;
}

.btn-custom {
  border: 1px solid var(--primary);
  color: var(--light);
  background: var(--primary)
}

.btn-custom:hover {
  color: var(--light);
  background: var(--dark);
  border: 1px solid var(--dark)
}

.btn-custom-d {
  border-left: 1px solid #c9bfbf;
  color: #000;
  background: #c9bfbf;
  border-radius: 0;
}

.btn-custom-d:hover {
  color: #f8e641;
  background: #000
}

.btn-xl {
  font-size: 150%
}

.mt-8 {
  margin-top: 8%
}

.mb-8 {
  margin-bottom: 8%
}

.pt-10 {
  padding-top: 10%;
}

.pb-10 {
  padding-bottom: 10%;
}

.text-h2 {
  font-size: 250%
}

.shadow {
  box-shadow: var(--shadow)
}

.how-work {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.center {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}