
@font-face {
  font-family: 'Rokkitt';
  src: url('../fonts/Rokkitt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark: #00171F;
  --light: #F0F2EF;
  --primary: #003459;
  --secondary: #007EA7;
  --menu: #00A7E1;
  --shadow: 3px 3px 15px #343a40
}

body {
  background: #fff;
}

body #footer {
  color: var(--light) !important
}

body #footer a {
  color: var(--light);
  text-decoration: none;
}

body #footer a:hover {
  color: #f8e641;
  border-bottom: 1px dotted #f8e641
}


.bg-background {
  background: #fff;
}

nav {
  box-shadow: 0 0 8px #888 !important;
}

nav a {
  color: #000 !important;
}

.content {
  min-height: calc(100vh - 200px);
}

.activeMenu {
  background: #f8e641;
  border-bottom: 1px solid #000;
  color: #000 !important;
}

.nav-item a:hover {
  background: #000;
  border-bottom: 1px solid #f8e641;
  margin-bottom: -1px;
  color: #f5f5f5 !important;
}

.nav-tabs a {
  color: #000;
}

.nav-tabs a:hover {
  color: #000 !important;
  border-bottom: none !important;
  background: #f5f5f5;
}

.nav-tabs a.active:hover {
  color: #000 !important;
  border-bottom: none !important;
}

.header-bottom {
  margin-bottom: 90px;
}

.feed-paragraph {
  font-size: 20px !important;
}

.card {
  border-radius: 0;
  border-bottom: 8px solid #474747 !important;
  margin-bottom: 50px;
}

.show-title {
  background: #f8e641;
}

.card-body {
  padding: 0 10px !important;
}

.card-body {
  font-family: "Roboto";
}

.news-feed .card {
  border: none;
  font-family: 'Rokkitt';
}

.news-show .card {
  border: none;
  font-family: 'Rokkitt' !important;
}

.news-show .card .card-footer{
  border: none;
}

.news-show img {
  border-bottom: 8px solid #f8e641;
}

.news-show .card-header h1 {
  border-bottom: 4px solid #f8e641;
  border-top: 4px solid #f8e641;
}

.news-show h1,
.news-show h5 {
  font-family: 'Rokkitt' !important;
}

.author-show {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.news-feed img {
  border-bottom: 8px solid #f8e641;
  transition: .3s ease-in;
}

.news-feed-bar {
  background: rgb(226, 229, 231);
  padding: 10px 15px;
}

.news-feed-bar input {
  width: 70% !important;
}

.news-feed-bar p {
  font-size: 20px;
}

.tags {
  margin-bottom: 50px;
  border-left: 5px solid #e2d2d2;
  padding-left: 15px;
}

@media(max-width:900px) {
  .tags {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

.new-articles h3 {
  background: #000;
  color: #f5f5f5;
  padding: 8px 10px;
  text-align: center;
}

.tags h3 {
  background: #f8e641;
  color: #000;
  padding: 8px 10px;
  text-align: center;
}

.list-group-item {
  margin-bottom: 5px;
}

.index_list:hover {
  background: #17a2b8;
  color: #f5f5f5 !important;
  cursor: pointer;
  border-color: #e2e5e7;
}

.comments-card {
  border: none;
}

.media img {
  width: 80px;
}

.category {
  font-size: 14px;
  /* padding: 4px 8px; */
  text-transform: uppercase;
}

.bg-white, .media, .commentButton {
  background: #e2e5e7 !important;
}

.article-main-img {
  position: relative;
}

.article-header h2,
.article-header h3,
.article-header h5 {
  font-family: 'Rokkitt' !important;
  margin-bottom: 0;
  margin-top: 0 !important;
}

@media(max-width:900px) {
  .article-header h2,
  .article-header h3,
  .article-header h5 {
    font-size: 22px;
  }
}

.article-header a {
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #000;
  color: #fff;
  width: 100%;
  opacity: .8;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.article-header a:hover {
  opacity: 1;
  background: #f8e641 !important;
  color: #000;
}

.small-text {
  font-size: 16px;
}

.news-feed-lines a{
  display: block;
  text-decoration: none;
  background: #000;
  color: #fff;
  margin-bottom: 3px;
  border-bottom: 8px solid #f8e641;
  padding: 5px;
  transition: .3s ease-in-out;
}

.news-feed-lines a:hover {
  background: #f8e641;
  color: #000;
}

.daily-articles {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.searched-articles {
  width: 100%;
  min-height: 150px;
  overflow: auto;
}

.daily-articles a,
.searched-articles a {
  display: inline-block;
  text-decoration: none;
  color: #000; 
  padding: 5px;
}

.daily-articles a:hover,
.searched-articles a:hover {
  text-decoration: none;
  color: #f8e641;
  background: #000;
}

.card-box {
  width: 50% !important;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ddd6d6 !important;
}

.edit-img img {
  width: 250px;
}

.search-bar {
  border: 1px solid rgb(201, 191, 191);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

@media(max-width: 900px) {
  .card-box {
    width: 95% !important;
  }
}

/*=== GDPR Page ===*/

.gdpr a {
  color: var(--dark) !important
}

.gdpr a:hover {
  text-decoration: none;
  color: var(--light) !important
}

/*=== Contact Page ===*/

.contact-pic img {
  width: 120px;
  height: 120px
}


/*=== Footer ===*/

#footer {
  background: var(--dark);
  margin-top: 3rem
}

#footer .icons {
  font-size: 2rem
}

#footer .social a:hover {
  border-bottom: none
}

section .footer-bottom {
  letter-spacing: 2px
}

body .footer-2nd {
  background: var(--light);
  color: #000
}

body .footer-2nd h6 {
  margin: 0
}

.footer-form button {
  background: var(--dark);
  color: var(--menu);
  border: 1px solid var(--menu)
}

.footer-form button:hover {
  background: var(--menu);
  color: #000
}

.footer-form input {
  background: #000;
  border: none
}

.footer-form input:enabled {
  background: var(--dark);
  border: 1px solid var(--menu);
  color: #fff
}

/* Subscribe */

#mc_embed_signup {
  margin-top: -9px;
  background: var(--light);
  clear: left;
}
  /*=== Universal Classes ===*/

  .bg-fixed {
    background-attachment: fixed
  }

  .text-bold {
    font-weight: 700
  }

  .text-title {
    padding: .5rem;
    background: var(--menu);
    color: var(--dark);
    box-shadow: 5px 5px 5px #343a40
  }

  .text-title2 {
    padding: .5rem;
    font-size: 180%;
    background: var(--dark);
    color: var(--menu)
  }

  .bg-custom {
    background: var(--secondary)
  }

  .text-yellow {
    color: #f8e641
  }

  .bg-yellow {
    background: #f8e641
  }

  .bg-p {
    background: var(--primary)
  }

  .bg-s {
    background: var(--secondary)
  }

  .bg-d {
    background: var(--dark)
  }

  .bg-l {
    background: var(--light);
    border: none;
  }

  .text-p {
    color: var(--primary)
  }

  .text-s {
    color: var(--secondary)
  }

  .text-d {
    color: var(--dark)
  }

  .text-l {
    color: var(--light)
  }

  .btn-outline-custom {
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 20px;
  }

  .btn-outline-custom:hover {
    border: 1px solid var(--primary);
    color: var(--light);
    background: var(--primary)
  }

  .btn-custom {
    border: 1px solid var(--primary);
    color: var(--light);
    background: var(--primary)
  }

  .btn-custom:hover {
    color: var(--light);
    background: var(--dark);
    border: 1px solid var(--dark)
  }

  .btn-custom-d {
    border: 1px solid var(--menu);
    color: #000;
    background: var(--menu)
  }

  .btn-custom-d:hover {
    color: var(--light);
    background: var(--primary);
    border: 1px solid var(--primary);
  }

  .btn-xl {
    font-size: 150%
  }

  .mt-8 {
    margin-top: 8%
  }

  .mb-8 {
    margin-bottom: 8%
  }

  .text-h2 {
    font-size: 250%
  }

  .shadow {
    box-shadow: var(--shadow)
  }

  .how-work {
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
  }