<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="/css/alternative.css">
  <title>Adatkezelési tájékoztató</title>
</head>

<body>
<section class="content">

<div class="contact-title container">
  <h2 class="display-4 text-center mt-5 font-weight-bold">Adatkezelési Tájékoztató
    <br>
    <span>
      <a href="https://ec.europa.eu/justice/smedataprotect/index_hu.htm" target="_blank">(GDPR)</a>
    </span>
  </h2>
</div>
<!-- Main section -->
<section class="container text-justify">
  <p></p>
  <ul class="list-group list-unstyled">
    <li class="list-group-item bg-primary text-light text-center">
      <p>I.</p>
      <span class="lead font-weight-bold">Az adatkezelő Szolgáltató neve:
        <br> Majoros Tamás József e.v.</span>
    </li>
    <ul class="list-unstyled">
      <li class="list-group-item">
        <b>Szolgáltató székhelye / levelezési címe:</b> 2660 Balassagyarmat, Patvarci utca. 18.</li>
      <li class="list-group-item">
        <b>Nyilvántartásba bejegyző hatóság:</b> Belügyminisztérium Nyilvántartások Vezetéséért Felelős Helyettes
        Államtitkár
        Okmányfelügyeleti Főosztály
      </li>
      <li class="list-group-item">
        <b>Nyilvántartási száma:</b> 52682997</li>
      <li class="list-group-item">
        <b>Telefonszáma:</b>
        <a href="tel:+36705301130">+36(70)530-1130</a>
      </li>
      <li class="list-group-item">
        <b>E-mail címe:</b>
        <a href="maja@smart-bee.hu">maja@smart-bee.hu</a>
      </li>
    </ul>
  </ul>
  <p></p>
  <ul class="list-group mt-5">
<li class="list-group-item lead font-weight-bold text-center bg-primary text-light">
      <p>II.</p>Adatvédelmi tisztviselő elérhetősége:
      <br> Jelen vállalkozás nem folytat olyan tevékenységet, amely szükségessé tenné adatvédelmi tisztviselő
      alkalmazását.
    </li>
  </ul>
  <ul class="list-group mt-5">
<li class="list-group-item lead font-weight-bold text-center bg-primary text-light">
      <p>III.</p>Az adatkezelés céljai, jogalapjai:
      <br> Jelen tájékoztató célja, hogy e honlap látogatói és partnereim átlátható és egyértelmű formában megismerjék
      személyes
      adataik kezelésének okát és módját.
    </li>
    <ul class="list-group">
      <li class="list-group-item">
        <p class="text-center">
          <b>1. Kapcsolatfelvételi űrlap</b>
        </p>
        Jelen honlapon található kapcsolatfelvételi űrlap célja az online kapcsolatfelvételi lehetőség biztosítása. Az
        űrlapon nevet
        és email címet kérek megadni. Ezeket az adatokat hozzájárulás alapján kezelem.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>2. Hírlevél</b>
        </p>
        Híreinkről, újdonságainkról, akcióinkról hírlevelet küldök annak, aki ehhez hozzájárult. A hírlevelek
        tartalmazzák a vállalkozás
        nevét, elérhetőségét, ezért reklámnak minősülnek. A hírlevélre név és email cím megadásával lehet feliratkozni.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>3. Számlázás</b>
        </p>
        Valamely szolgáltatás megrendelésekor szerződés köttetik, és számla kiállítására kerül sor elvégzett munka
        díjazásáról, melyre
        jogszabály kötelez. Ehhez szükséges a számlázási név és cím, valamint az email cím.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>4. Weboldal karbantartás</b>
        </p>
        Amennyiben meglévő weboldal módosításával kapcsolatos munkát vagy karbantartást végzek el, úgy az elvégzendő
        munka során
        hozzáférhetek egyéb személyes adatokhoz is, azonban ezekhez az adatokhoz szerződéses megbízás alapján jutok
        hozzá,
        melyet nem kezelek, nem használok fel, valamint harmadik félnek nem szolgáltatok ki.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>5. Kapcsolatfelvétel telefonon keresztül</b>
        </p>
        A megrendelő, érdeklődő által kezdeményezett hívások során megismert személyes adatokat (név, telefonszám)
        Annak hozzájárulása
        alapján kezelem.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>6. Üzleti, szakmai partnerek elérhetősége</b>
        </p>
        Üzleti / szakmai kapcsolataim során jogos érdek alapján kezelem a partnereim, azok vezetőinek, dolgozóinak,
        kapcsolattartóinak
        személyes adatait: nevet, telefonszámot, email címet.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>7. Cookies („Sütik”)</b>
        </p>
        <p>A cookie betűből és számokból álló információcsomag, amit általában a honlapok a böngésződnek küldenek el
          azzal
          a céllal, hogy elmentsenek bizonyos beállításokat, megkönnyítsék a honlap használatát és közreműködjenek
          abban,
          hogy néhány releváns, statisztikai jellegű információt gyűjtsünk a látogatókról. A cookie-k (sütik) nem
          tartalmaznak
          személyes információkat, és nem alkalmasak az egyéni felhasználó azonosítására. A cookie-k (sütik) gyakran
          olyan
          egyéni azonosítót tartalmaznak – egy titkos, véletlenül generált számsort – amelyet az eszközöd tárol. Néhány
          cookie (süti) a honlap bezárása után megszűnik, néhány pedig hosszabb időre tárolásra kerül a számítógépeden.</p>
        <p>A sütikkel kapcsolatos minden tevékenységet meggátolhatsz, a korábbi látogatásaid során elhelyezett
          adatfájlokat
          törölheted, ennek pontos módjáról böngésződ útmutatója igazít el, melyeket a következő helyeken találsz meg:
        </p>
        <ul class="list-unstyled">
          <li>
            <span class="badge bg-s text-l">1</span> Cookie-k és webhelyadatok kezelése Chrome-ban,</li>
          <li>
            <span class="badge bg-s text-l">2</span> Információ a sütikről Firefox-hoz,</li>
          <li>
            <span class="badge bg-s text-l">3</span> Cookie-k kezelése Internet Explorerben és Edge-ben.</li>
        </ul>
        <p></p>
        <p>Bizonyos általam készített weboldalak egyes részeinek letöltésekor az általam használt látogatáselemző
          szoftver
          (a Google Inc. (“Google”) által működtetett Google Analytics) automatikusan kisméretű, némely esetben a
          személyes
          adataidat tartalmazó adatfájlokat helyez el a számítógépeden. Ennek megtörténtéről a jelenleg érvényes
          jogszabályok
          szerint értesítést is kapsz, amikor először az oldalra látogatsz, és jóváhagyásodat kérem ehhez. Az
          adatfájlok
          a weboldal egyes funkcióinak működéséhez szükségesek, látogatásaid alkalmával kapott korábbi adatfájlok révén
          származó információ az üzemeltetőhöz kerül. A Google Analytics a böngésző révén kapott IP-számot névtelenítve
          (anonimizáltan) tárolja, nem tudja összekapcsolni a felhasználóval. Az adatokat 26 hónapig őrzi, amely
          időperiódus
          kezdete újraindul, ha új esemény történik a felhasználóval kapcsolatban (pl. új munkamenetet kezd).
        </p>
      </li>
    </ul>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>IV.</p>Hozzájárulás visszavonása:
      <br>Fentebb már részletezett adatok kezelése a következő tevékenységeknél alapul hozzájáruláson:
    </li>
    <li class="list-group-item">
      <span class="badge bg-s text-l">1</span> Reklámot is tartalmazó hírlevél küldése</li>
    <li class="list-group-item">
      <span class="badge bg-s text-l">2</span> Weboldal kapcsolatfelvételi űrlapján keresztül történő kapcsolatfelvétel
      az érdeklődők részéről</li>
    <li class="list-group-item">
      <span class="badge bg-s text-l">3</span> Látogatottsági statisztika készítése</li>
    <li class="list-group-item">
      <span class="badge bg-s text-l">4</span> Telefonon történő kapcsolatfelvétel</li>
    <li class="list-group-item">
      <p class="text-center">A hozzájárulás bármikor visszavonható, ugyanolyan egyszerű módon, ahogy annak a megadása
        történt.</p>
      <p class="text-center">Más, hozzájáruláson alapuló adatkezelési műveleteim esetében írj üzenetet a
        <a href="maja@smart-bee.hu">maja@smart-bee.hu</a> vagy a
        <a href="tmsmajoros@gmail.com">tmsmajoros@gmail.com</a> email címre.</p>
      <p class="lead text-center text-title">A hozzájárulás visszavonását megelőző adatkezelés jogszerűnek számít!</p>
    </li>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>V.</p>Jogos érdek:
      <br> Üzleti partnereim, üzlettársaim vagy azok kapcsolattartóinak elérhetőségi adatait és nevét jogos érdek
      alapján kezelem.
    </li>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>VI.</p>Az adatok tárolásának időtartama:
      <br>
    </li>
    <li class="list-group-item">
      <p>
        <b>Kapcsolatfelvételi űrlap</b> (név, email cím) – üzleti kapcsolat lezárásáig, de hathavonta felülvizsgálat</p>
      <p>
        <b>Hírlevélre feliratkozás</b> (név, email cím) – leiratkozásig</p>
      <p>
        <b>Számlázási név és cím</b> – jogszabályban előírt ideig, egyéni vállalkozók esetében tárgyév + 5 év</p>
      <p>
        <b>Weboldal karbantartási munkák</b> (pl. biztonsági mentés tárolása) – szerződés fennállásáig</p>
      <p>
        <b>Üzleti partnerek adatai</b> (név, e-mail cím, telefonszám) – üzleti kapcsolat fennálltáig, törlési kérelemig</p>
      <p>
        <b>Google Analytics látogatottsági statisztika</b> – 26 hónap</p>
    </li>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>VII.</p>Biztonsági intézkedések:
      <br> Megfelelő biztonsági intézkedésekkel gondoskodom arról, hogy a személyes adatokat védjem többek között a
      jogosulatlan
      hozzáférés ellen, a téves nyilvánosságra hozatal vagy a jogosulatlan megváltoztatás ellen.
    </li>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>VIII.</p>
      Vállalkozásom egyes feladatai ellátása érdekében adatfeldolgozókat vesz igénybe.
    </li>
    <ul class="list-group">
      <li class="list-group-item">
        <p class="text-center">
          <b>Tárhelyszolgáltatás:</b>
        </p>
        C-Host Kft., 1115 Budapest, Halmi utca 29. Tel: +36 1 445 20 40 Email: info@nethely.hu (Hozzáférés a honlap
        teljes tartalmához,
        saját domaines email címre érkező emailek továbbítása.)
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Emailek fogadása és küldése: </b>
        </p>
        Gmail – Google Inc., Mountain View, California, USA (Hozzáférés a levelezéshez és annak minden adatához.)
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>3. Számlázás</b>
        </p>
        Valamely szolgáltatás megrendelésekor szerződés köttetik, és számla kiállítására kerül sor elvégzett munka
        díjazásáról, melyre
        jogszabály kötelez. Ehhez szükséges a számlázási név és cím, valamint az email cím.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Számlázás:</b>
        </p>
        Számlázz.hu – KBOSS.hu Kft., 1031 Budapest, Záhony utca 7/C. Email: info@szamlazz.hu Tel: +36-30-35-44-789
        (automata tájékoztatás)
        (Hozzáférés a kiállított számlákhoz.).
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Google Analytics:</b>
        </p>
        Google Inc., Mountain View, California, USA (Hozzáférés a honlap látogatóinak anonimizált, személyhez nem
        köthető IP címéhez.)
      </li>
    </ul>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>IX.</p>Harmadik országba továbbítás:
    </li>
    <ul class="list-group">
      <li class="list-group-item">
        <p>Egyedüli EU-n kívüli (harmadik) ország, amelybe adattovábbítás történik, az Amerikai Egyesült Államok. Az
          USA-val
          megfelelőségi határozat született 2016. július 12-én
          <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/eu-us-privacy-shield_en"
            target="_blank">(EU-US Privacy Shield)</a>, amelyet a Google
          <a href="https://policies.google.com/privacy/frameworks" target="_blank">(Adatátvitelre vonatkozó jogi
            keretrendszerek)</a>és a Facebook
          <a href="https://www.facebook.com/about/privacyshield" target="_blank">(„ADATVÉDELMI PAJZS” KERETRENDSZEREK)</a>
          is betart. Az Automattic szerződésbeni záradék révén felel meg a GDPR-nek
          <a href="https://automattic.com/privacy/" target="_blank">(https://automattic.com/privacy/)</a>
        </p>
      </li>
    </ul>
  </ul>
  <ul class="list-group mt-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>X.</p>Az érintett jogai:
    </li>
    <ul class="list-group">
      <li class="list-group-item">
        <p class="text-center">
          <b>Hozzáférés a személyes adatokhoz:</b>
        </p>
        Weboldalam látogatói, ügyfeleim, partnereim jogosultak visszajelzést kérni arra vonatkozóan, hogy személyes
        adataik kezelése
        folyamatban van-e, és ha igen, jogosultak hozzáférést kapni a következő információkhoz:
        <p></p>
        <ul class="list-unstyled">
          <li>
            <span class="badge bg-s text-l">1</span> adatkezelés céljai</li>
          <li>
            <span class="badge bg-s text-l">2</span> az érintett személyes adatok kategóriái</li>
          <li>
            <span class="badge bg-s text-l">3</span> címzettek, akikkel / amelyekkel a személyes adatokat közölték vagy
            közölni fogják, beleértve a harmadik
            országbeli címzetteket és a nemzetközi szervezeteket,</li>
          <li>
            <span class="badge bg-s text-l">4</span> az adatok tárolásának tervezett időtartama, ha ez nem lehetséges,
            ezen időtartam meghatározásának
            szempontjai,
          </li>
          <li>
            <span class="badge bg-s text-l">5</span> az érintett azon joga, hogy kérelmezheti az adatkezelőtől a rá
            vonatkozó személyes adatok helyesbítését,
            törlését vagy kezelésének korlátozását, és tiltakozhat az ilyen személyes adatok kezelése ellen
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Helyesbítéshez való jog:</b>
        </p>
        Weboldalam látogatói, ügyfeleim, partnereim jogosultak arra, hogy kérésre helyesbítsem a rájuk vonatkozó
        pontatlan személyes
        adatokat. Figyelembe véve az adatkezelés célját, kérhető a hiányos személyes adatok kiegészítése. A
        helyesbítésről
        minden olyan címzettet tájékoztatnom kell, akivel a személyes adatot közöltem, kivéve, ha ez lehetetlen vagy
        aránytalanul
        nagy erőfeszítést igényel. Az érintettet kérésre tájékoztatom a címzettekről.
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Törléshez való jog:</b>
        </p>
        Indokolatlan késedelem nélkül köteles vagyok törölni ügyfelem, megbízóm, weboldal látogatóm kérésére, vagy
        kérés nélkül is
        a rá vonatkozó személyes adatokat, ha
        <p></p>
        <ul class="list-group list-unstyled">
          <li>
            <span class="badge bg-s text-l">1</span> a személyes adatokra már nincs szükség abból a célból, amelyből
            azokat gyűjtöttem vagy más módon kezeltem;</li>
          <li>
            <span class="badge bg-s text-l">2</span> a megbízó/ügyfél/látogató visszavonja az adatkezelés alapját
            képező hozzájárulását, és az adatkezelésnek
            nincs más jogalapja;</li>
          <li>
            <span class="badge bg-s text-l">3</span> a megbízó/ügyfél/látogató tiltakozik az adatkezelés ellen, és
            nincs elsőbbséget élvező jogszerű ok
            az adatkezelésre;
          </li>
          <li>
            <span class="badge bg-s text-l">4</span> a személyes adatokat jogellenesen kezeltem;</li>
          <li>
            <span class="badge bg-s text-l">5</span> a személyes adatokat az adatkezelőre alkalmazandó uniós vagy
            tagállami jogban előírt jogi kötelezettség
            teljesítéséhez törölni kell;</li>
          <li>
            <span class="badge bg-s text-l">6</span> a személyes adatok gyűjtésére információs társadalommal összefüggő
            szolgáltatások kínálásával kapcsolatosan
            került sor.</li>
          <p></p>
          <li class="list-group-item text-center mt-3 mb-3 text-title">
            <p>
              Nem kell törölnöm a személyes adatokat, ha az adatkezelés szükséges jogi igények előterjesztéséhez,
              érvényesítéséhez, illetve
              védelméhez. Amennyiben ilyen adat törlésére érkezik kérés, megfontolom, és írásban megválaszolom a
              döntésem.
            </p>
            <p>
              A törlésről minden olyan címzettet tájékoztatnom kell, akivel a személyes adatot közöltem, kivéve, ha ez
              lehetetlen vagy
              aránytalanul nagy erőfeszítést igényel. Ügyfelemet/megbízómat/a felhasználót kérésre tájékoztatom a
              címzettekről.
            </p>
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Az adatkezelés korlátozásához való jog:</b>
        </p>
        Ügyfelem/megbízóm/a weboldal látogatója jogosult kérni az adatkezelés korlátozását, ha:
        <p></p>
        <ul class="list-group list-unstyled">
          <li>
            <span class="badge bg-s text-l">1</span> vitatja a személyes adatok pontosságát, tisztázásig</li>
          <li>
            <span class="badge bg-s text-l">2</span> az adatkezelés jogellenes, és az adatok törlése helyett kéri azok
            felhasználásának korlátozását;</li>
          <li>
            <span class="badge bg-s text-l">3</span> már nincs szükségem a személyes adatokra adatkezelés céljából, de
            a felhasználó / ügyfelem / megbízóm
            igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez;</li>
          <li>
            <span class="badge bg-s text-l">4</span> a felhasználó / ügyfelem / megbízóm tiltakozott a jogos érdekből
            történő adatkezelés ellen; ez esetben
            a korlátozás arra az időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos
            indokai
            elsőbbséget élveznek-e az érintett jogos indokaival szemben.</li>
          <p></p>
          <li class="list-group-item text-center mt-3 mb-3 text-title">
            <p>Ha az adatkezelés korlátozás alá esik, a személyes adatokat a tárolás kivételével csak a felhasználó /
              ügyfelem
              / megbízóm hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez, vagy
              más természetes vagy jogi személy jogainak védelme érdekében, vagy az Unió, illetve valamely tagállam
              fontos
              közérdekéből lehet kezelni.
            </p>
            <p>A korlátozás feloldásáról a felhasználót / ügyfelemet / megbízómat előzetesem tájékoztatom.</p>
            <p>A korlátozásról minden olyan címzettet tájékoztatnom kell, akivel a személyes adatot közöltem, kivéve,
              ha ez
              lehetetlen vagy aránytalanul nagy erőfeszítést igényel. Ügyfelemet/megbízómat/a felhasználót kérésre
              tájékoztatom
              a címzettekről.</p>
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Adathordozáshoz való jog:</b>
        </p>
        Az automatizált módon történő adatok kezelése esetén, amennyiben az adatkezelés jogalapja a hozzájárulás vagy a
        szerződéses
        jogalap, ügyfelem/megbízóm/a weboldal látogatója jogosult arra, hogy a rá vonatkozó, általa rendelkezésemre
        bocsátott
        személyes adatait tagolt, széles körben használt, géppel olvasható formátumban megkapja, és ezeket az adatokat
        egy másik adatkezelőnek továbbítsa, amennyiben ez technikailag megvalósítható.
        <p>Az adathordozhatósághoz való jog nem érintheti hátrányosan mások jogait és szabadságait.
        </p>
      </li>
      <li class="list-group-item">
        <p class="text-center">
          <b>Tiltakozás joga:</b>
        </p>
        Az ügyfelem / megbízóm tiltakozhat a személyes adatai kezelése ellen saját helyzetével kapcsolatos okokból
        bármikor, amennyiben
        az adatkezelés jogalapja jogos érdek. Ebben az esetben a személyes adatokat nem kezelhetem tovább, kivéve, ha
        bizonyítom,
        hogy azt olyan kényszerítő erejű jogos okok indokolják, amelyek elsőbbséget élveznek ügyfelem / megbízóm
        érdekeivel,
        jogaival és szabadságaival szemben, vagy amelyek jogi igények előterjesztéséhez, érvényesítéséhez vagy
        védelméhez
        kapcsolódnak.
      </li>
      <li class="list-group-item text-center mt-3 mb-3 text-title">
        <p class="text-center">
          <b>Automatizált döntéshozatal egyedi ügyekben, beleértve a profilalkotást:</b>
        </p>
        Automatizált döntéshozatalt és / vagy profilalkotást vállalkozásom nem végez.
      </li>
    </ul>
  </ul>
  <ul class="list-group my-5">
    <li class="list-group-item lead font-weight-bold bg-primary text-light text-center">
      <p>XI.</p>Panasz:
    </li>
    <ul class="list-group text-center">
      <li class="list-group-item">
        <p>Személyes adataidat a legnagyobb körültekintéssel kezelem. Amennyiben mégis úgy érzed, hogy nem tettem meg
          minden
          tőlem elvárható intézkedést a személyes adataid védelme érdekében, vagy egyszerűen csak kérdésed van, kérlek,
          írj nekem a
          <a href="maja@smart-bee.hu">maja@smart-bee.hu</a> email címen.</p>
        <p>Személyes adattal kapcsolatos panasszal, kérdéssel forduljon a Nemzeti Adatvédelmi és Információszabadság
          Hatóságothoz
          (1125 Budapest, Szilágyi Erzsébet fasor 22/C., levelezési cím: 1530 Budapest, Pf.: 5., email:
          <a href="ugyfelszolgalat@naih.hu">ugyfelszolgalat@naih.hu</a>, honlap:
          <a href="http://www.naih.hu">http://www.naih.hu</a>.</p>
      </li>
    </ul>
  </ul>
</section>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>


</body>

</html>