<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-4 parent">
      <div class="menuLeft mb-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="btn btn-dark" href="#whatIs">Bevezető</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#content">A közzétevő felelőssége</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#register">Regisztráció menete</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#forgotPasswd">Elfelejtett jelszó</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#writing">Cikk írása</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#writEdit">Cikk szerkesztése</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#comment">Hozzászólások</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#search">Cikkek keresése</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" href="#category">Kategóriák</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="whatIs" class="col-md-8">

      <div class="tags">
        <h3 class="alert alert-dark mt-2">Bevezető</h3>
        <p class=""></p>
        <div class="jumbotron bg-primary">
          <h4 class="font-weight-bold text-center text-light">&#8226;Hobbi újságíró vagy? &#8226;Tényfeltáró riportot írnál?
            &#8226;Szívesen írnál néha blogot, de azért az évi 1-2 alkalomért nem éri meg belefektetni? &#8226;Meg nem
            értett író vagy, egy zseni, aki szívesen publikálna, de nincs hol? &#8226;Néha jól odamondanál, de nem
            akarod
            adni hozzá az arcod vagy / és a neved? &#8226;Egy oknyomozó riporter bújt el benned, de sehol sem vesznek
            komolyan?</h4>
        </div>
        <h2 class="alert alert-info text-center">Na álljunk csak meg. Ne keress tovább, ez a te oldalad.</h2>
        <p>Ha már megfordult a fejedben legalább egyszer, hogy mi lenne ha te is írhatnál egy cikket valamelyik
          újságba, vagy hogy megosztanád nagy nyilvánossággal is "tuti" infóid, akkor jó helyen jársz.</p>
        <p>Bár nem újkeletű dolog az úgynevezett "közösségi újságírás", mégsem találkozni vele túl gyakran, pláne nem
          magyar nyelven. Az oldal célja hogy politikai és gazdasági szervezetektől teljesen független módon, a
          közösség erejénél fogva gyártson -és szolgáltasson híreket, információkat, gondolatokat, véleményeket.
          Lényegében egy online magazin, melynek nincs főszerkesztője, csak írói. Nincs lapzárta, nincs elbírálás,
          nincs küldd be az írásod majd megnézzük stb. Írd <b>TE</b> ezt a magazint, told az arcunkba a sztorit ami
          eddig csak a tiéd volt de nem tudtad hogyan oszdd meg másokkal; mutasd meg hogy vagy olyan jó hobbi szinten
          is mint aki pénzért csinálja.</p>
        <blockquote>Publikálj verseket, novellákat, bármit amit megmutatnál, csak eddig nem tudtad hogy hol, -és hogyan
          teheted ezt meg.</blockquote>
        <p class="font-weight-bold">Ehhez semmi mást nem kell tenned, minthogy kitalálsz egy felhasználónevet és egy
          erős jelszót, majd ezekkel és az email címeddel regisztrálsz az oldalra. <span class="text-orange">Ennyi.</span>
          Ha akarod bővítheted persze profilodat, névvel, profilképpel, különböző adatokkal, de nem kötelező, és
          egyébként sem kötelez senki a valódi adatok megadására. Maradj anonim, ha akarsz, de persze tudathatod is az
          olvasókkal, kinek köszönhetik a tartalmat.</p>
        <p>Bevezetőnek legyen elég ennyi. A legtöbb kérdésedre valószínűleg választ kapsz ebben a súgóban, de ha merül
          még fel
          kérdés, bátran írj a <a href="mailto:tmsmajoros@gmail.com">tmsmajoros@gmail.com</a> email címre.</p>
      </div>
      <div id="content" class="tags pt-10">
        <h3 class="alert alert-dark">A TE FELELŐSSÉGED</h3>
        <h5 class="font-weight-bold text-orange text-center">Az általad feltöltött írás, komment, és ezekkel
          kapcsolatos adat:</h5>
        <ul class="help-list">
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem sértheti más szerzői vagy szomszédos jogait, egyéb jogait
            (személyiségi, személyhez fűződő jogok,
            stb.)</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem lehet olyan, ami faji, nemzetiségi, vallási, nemi vagy
            politikai
            ellentéteket szít, illetve súlyos
            vagy
            széleskörű ellenállást vált ki</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem bátoríthat egészségre ártalmas anyagok használatára,</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem tartalmazhat bűncselekményre felbujtást,</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem tartalmazhat jogosulatlan vagy tisztességtelen piaci
            magatartás és
            versenykorlátozás tilalmáról szóló
            törvény
            által tiltott módon megszerzett adatokat, vagy üzleti titkokat,</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem sérthet jó hírnevet, névviselési jogot, képmáshoz való
            jogot vagy
            más személyhez fűződő, vagy emberi
            méltóságot,</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem sérthet védjegyoltalmat, vagy más földrajzi árujelzés
            oltalmát</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> nem tartalmazhat tiltott reklámot, vagy nem sértheti a
            reklámokra és
            elektronikus hirdetésekre vonatkozó
            jogszabályi rendelkezéseket</li>
          <li><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span> illetve nem ütközhet egyéb jogszabály rendelkezéseibe.</li>
        </ul>

      </div>
      <div id="register" class="tags pt-10">
        <h3>Regisztráció menete</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="forgotPasswd" class="tags pt-10">
        <h3>Elflejtett jelszó</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="writing" class="tags pt-10">
        <h3>Cikk írása</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="writEdit" class="tags pt-10">
        <h3>Cikk szerkesztése</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="comment" class="tags pt-10">
        <h3>Hozzászólások</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="search" class="tags pt-10">
        <h3 class="alert alert-dark">Cikkek keresése</h3>
        <img class="float-right p-1 img-fluid" src="../../images/help.jpg" alt="help search pic">
        <p class="p-3 text-justify">Ha tudjuk a keresendő cikk címét, vagy címkezdetét, esetleg kulcsszavakat akkor
          érdemes használni az oldal gyorskeresés funkcióját. A keresőmező a legfelső menüsor jobb oldalán található. A
          mezőbe írjuk be a keresendő címet, szót vagy kifejezést. Ezt követően kattintsunk a nagyító ikonra vagy
          nyomjunk entert. A keresés lefutását követően a már megszokott kezdőképernyő fogad minket azzal a
          különbséggel, hogy a bal oldali sávban csak a keresett kifejezésre kapott találatokat kapjuk vissza, a címsor
          pedig a kapott találatok számáról tájékoztat. Természetesen a már megszokott módon, a főcímre illetve a
          tovább gombra kattintva megnyithatjuk a cikket.</p>
      </div>
      <div id="category" class="tags pt-10">
        <h3>Kategóriák</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
    </div>


  </div>
</div>

</section>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
  crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

</body>

</html>