<% include ../partials/header %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 parent">
      <div class="menuLeft mb-4">
        <div class="jumbotron p-2 bg-d text-white">
        <h1 class="text-center text-yellow"><i class="fas fa-bullhorn"></i> PROJECT-1</h1>
      </div>
          <a class="" href="#whatIs">Mi ez?</a>
          <a class="" href="#register">Regisztráció menete</a>
          <a class="" href="#forgotPasswd">Elfelejtett jelszó</a>
          <a class="" href="#writing">Cikk írása</a>
          <a class="" href="#writEdit">Cikk szerkesztése</a>
          <a class="" href="#comment">Hozzászólások</a>
          <a class="" href="#search">Cikkek keresése</a>
          <a class="" href="#category">Kategóriák</a>
      </div>
    </div>

    <div id="whatIs"class="col-md-8">
    <div class="jumbotron p-2 bg-d text-white test">
        <h1 class="text-center text-yellow">Az oldalról és működésének módjáról.</h1>
        <hr class="bg-white">
        <p class="lead">...azaz mit, hogyan, és ezeket miért lehet / nem lehet. Lényegében a használati utasítás.</p>
      </div>
      <div class="tags">
        <h3>Mi ez az oldal?</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="register" class="tags pt-10">
        <h3>Regisztráció menete</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="forgotPasswd" class="tags pt-10">
        <h3>Elflejtett jelszó</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="writing" class="tags pt-10">
        <h3>Cikk írása</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="writEdit" class="tags pt-10">
        <h3>Cikk szerkesztése</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="comment" class="tags pt-10">
        <h3>Hozzászólások</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="search" class="tags pt-10">
        <h3>Cikkek keresése</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
      <div id="category" class="tags pt-10">
        <h3>Kategóriák</h3>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure quibusdam perspiciatis
          voluptates consequuntur modi ipsum et dicta aliquam. Et veritatis explicabo velit id necessitatibus non error
          quod, fugiat molestiae quas molestias doloribus nostrum magnam ad ducimus nesciunt ullam, iusto natus!
          Asperiores, dolorem minus. Fugit similique ullam consequuntur tempore laboriosam autem. Illo, quos minus
          dolores nihil facere cum sequi voluptatibus voluptatem nulla iste? Voluptas aliquam accusantium aut itaque at
          sequi rerum eius distinctio impedit cumque, beatae quas ad nemo libero odit! Voluptatem esse voluptas rerum
          placeat laborum distinctio vitae quibusdam animi unde natus, nostrum vero at aut inventore consectetur
          dolorem?</p>
      </div>
    </div>


  </div>
</div>

</section>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
  crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

</body>

</html>