<% include ../partials/header %>

<div class="container">

  <div class="row mb-5">
    <div class="col-12">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th>Cikk közzététele</th>
          <th>Cikk szerzője</th>
          <th>Cikk címe</th>
          <th>Ugrás a cikkhez</th>
        </tr>
      </thead>
      <tbody>
        <% allContent.forEach(function(content){ %>
        <tr>
          <td>
            <%= moment(content.createdAt).format('YYYY. MM D.') %>
          </td>
          <td>
            <%= content.author.username %>
          </td>
          <td>
            <%= content.title %>
          </td>
          <td>
            <a class="btn btn-primary" href="/contents/<%= content._id %>"><i class="far fa-eye"></i></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<% include ../partials/footer %>